@import "vars";
@import "fonts";

body {
    font-size: 16px;
    min-width: 320px;
    font-family: $default-font;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100px;
    padding: 13px 16px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.6s ease;
    cursor: pointer;
}

.img-container {
    img {
        width: 100%;
        height: auto;
    }
}

.button--started {
    color: #3A79FF;
    background: #D2E1FF;

    &:hover {
        background: #fff;
        border: 1px solid #3A79FF;
    }
}

.button--more {
    color: #D43F3F;
    background: #FFD7D7;

    &:hover {
        background: #fff;
        border: 1px solid #D43F3F;
    }
}



.header {
    height: 100vh;
    background: #F4F7FF;
}

.menu {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #FFFFFF;
    border-bottom: 1px solid #D8E3FE;

    a {
        text-decoration: none;

        @media only screen and (max-width: $md) {
            color: #fff;
        }
    }

    @media only screen and (max-width: $md) {
        position: fixed;
        width: 100%;
        padding: 20px 25px;
        background: #000;
        color: #fff;
        z-index: 100;
    }

    &__logo {
        margin-right: 73px;
    }

    &__list {
        display: flex;
        align-self: center;

        @media only screen and (max-width: $md) {
            display: none;
            position: absolute;
            top: 88px;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            background: #000;
        }
    }

    &__item {
        margin-right: 42px;
        transition: 1s all;
        cursor: pointer;

        @media only screen and (max-width: $md) {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active,
        &:hover {
            .menu__link {
                color: #5E81FE;
            }
        }
    }

    &__link {
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: #697CA6;
        transition: 1s all;

        @media only screen and (max-width: $md) {
            font-size: 20px;
        }
    }

    .menu-social {
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            transition: 1s all;

            &:hover {
                fill: #6188FF;
            }
        }
    }

    &__icon {
        display: none;

        @media only screen and (max-width: $md) {
            display: flex;
        }
    }

    &__button {
        margin-left: 45px;
    }

    &.active {
        border-radius: 15px;
        background-color: #ffc61a;

        .menu__link {
            color: #000;
        }
    }
}

.menu-icon {
    display: none;

    @media only screen and (max-width: $md) {
        display: flex;
    }
}

.sticky-menu {
    position: fixed;
    width: 100%;
    margin-top: -75px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000;
    z-index: 100;
}

.section {
    &__title {
        font-weight: 500;
        color: #3D4F9F;
    }
}

.section__title {
    &--small {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &-small--white {
        color: #fff;
    }

    &--large {
        margin-top: 20px;
        font-size: 24px;
        line-height: 30px;
    }

    &-large--white {
        color: #fff;
    }
}

.main-text {
    &__slogan {
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;
    }

    &__title {
        margin-top: 16px;
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;
        color: #3D4F9F;

        span {
            font-weight: 700;
        }
    }

    &__description {
        margin-top: 28px;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }
}

.hero {
    height: 100%;

    &__text {
        max-width: 590px;
    }
}

.s-brands {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;

    @media only screen and (max-width: $md) {
        grid-gap: 3rem;
    }

    &__item {
        svg {
            &:hover {
                transition: all 0.6s ease;
                fill: #5982E7;
                cursor: pointer;
            }
        }
    }

}

.s-plan {
    padding-top: 170px;
    padding-bottom: 170px;
    background: #F5F8FF;

    @media only screen and (max-width: $sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.s-about {
    padding-top: 170px;
    padding-bottom: 170px;

    @media only screen and (max-width: $sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.apps {
    margin-top: 92px;
    font-family: 'Open Sans', sans-serif;
}

.app {
    max-width: 140px;

    @media only screen and (max-width: $md) {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__image {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background: #F1F5FF;
    }

    &__title {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        color: #4074F8;
    }

    &__description {
        margin-top: 25px;
        font-size: 11px;
        font-weight: 600;
        line-height: 19px;
        color: #ADB3CB;
    }
}

.about-buttons {
    margin-top: 92px;

    &__divider {
        width: 15px;
        margin-left: 15px;
        margin-right: 15px;
        border-top: 1px solid #DAE4FE;

        @media only screen and (max-width: $sm) {
            display: none;
        }
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 19px;
        text-transform: uppercase;
        color: #ADB3CB;

        @media only screen and (max-width: $sm) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

.s-stats {}

.stats {
    padding: 65px 90px;
    letter-spacing: 0.03em;
}

.customers {
    background: #6586FF;

    &__text {
        margin-top: 25px;
        max-width: 260px;
        color: #fff;
    }

    &__title {
        font-size: 48px;
        line-height: 83px;
    }

    &__description {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }
}

.users {
    background: #E4ECFF;

    &__text {
        margin-top: 25px;
        max-width: 260px;
        color: #5E80FF;
    }

    &__title {
        font-size: 48px;
        line-height: 83px;
    }

    &__description {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }
}

.s-resources {
    padding-top: 104px;
    padding-bottom: 104px;
    background: #F5F8FF;

    @media only screen and (max-width: $sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.plan {
    margin-top: 90px;
    padding: 65px 35px;
    background: #fff;

    &__second-gallery {
        width: 30%;
        align-content: space-between;
    }

    &__images {
        position: relative;
    }

    &__image {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0px 15px 100px #E5EBF8;

        @media only screen and (max-width: $md) {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 25px;
        }

        @media only screen and (max-width: $sm) {
            max-width: 100%;
        }
    }

    &__image-big-container {
        position: relative;
    }

    &__image--big {
        width: 65%;
        max-height: 267px;
        margin-right: 12px;

        @media only screen and (max-width: $lg) {
            width: 100%;
            margin-right: 0;
            max-height: 100%;
        }
    }

    &__search {
        position: absolute;
        width: 65px;
        height: 65px;
        top: 33%;
        left: 33%;
        border-radius: 100%;
        background: #FFF;
    }

    &__image--little {
        max-height: 126px;
        height: 50%;

        @media only screen and (max-width: $lg) {
            max-height: 100%;
            height: auto;
            width: 100%;
        }

        @media only screen and (max-width: $sm) {
            margin-bottom: 25px;
        }
    }

    &__text {
        @media only screen and (max-width: $lg) {
            margin-top: 70px !important;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
        color: #3D4F9F;
    }

    &__description {
        margin-top: 32px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }

    &__bottom {
        margin-top: auto;

        @media only screen and (max-width: $lg) {
            margin-top: 30px;
        }
    }

    &__add {
        margin-left: 23px;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        color: #A6B6DA;

        @media only screen and (max-width: $sm) {
            margin-top: 25px;
            margin-left: 0;
        }
    }
}

.s-help {
    padding-top: 175px;
    padding-bottom: 175px;

    @media only screen and (max-width: $sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.questions {
    width: 100%;
    margin-top: 70px;
}

.question {
    width: 100%;
    max-width: 740px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D8E3FE;

    &__img {
        margin-left: 25px;
    }

    &__outer {
        cursor: pointer;
    }

    &__inner {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 30px;
        padding-left: 90px;
        padding-right: 10px;
    }

    &__title {
        margin-left: 25px;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #8E96B7;
    }

    &__text {
        max-width: 390px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }

    &__button {
        background: #E8ECF4;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        color: #7382A3;

        &:hover {
            background: #fff;
            border: 1px solid #3A79FF;
        }
    }
}

.s-started {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #6384FF;

    &__title {
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;

        span {
            font-weight: 600;
        }
    }

    &__description {
        max-width: 710px;
        margin-top: 30px;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}


@import "media";
@import "grid";
